<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="../js/sankey.js"></script>
</head>
<body>
  <div id="sankey_basic" style="width: 900px; height: 300px;"></div>
  <p>Sankey Diagram Demo</p>
  <script> 
    var socket = new io.connect('http://localhost:8000/');
		// Add a connect listener
		socket.on('connect',function() {
			console.log('Client has connected to the server!');
		});
		// Add a connect listener
		socket.on('message',function(data) {
      data = JSON.parse(data);
			console.log('Received a message from the server!', data.message);
      socket.emit("message", "there");
		});
		// Add a disconnect listener
		socket.on('disconnect',function() {
			console.log('The client has disconnected!');
		});
    var data = [
      [ '192.92.181.60', '75.104.12.129', 5 ],
      [ '2.235.43.208', '239.85.84.11', 7 ],
      [ '92.13.112.85', '251.82.2.92', 6 ],
      [ '59.130.52.94', '228.183.189.209', 2 ],
      [ '228.183.189.209', '229.183.189.209', 3 ],
      [ '59.130.52.94', '251.82.2.92', 2 ],
    ];

    // Draw the Sankey diagram.
    Sankey("sankey_basic", data, {}, function(sankey) {

      // Now, every second we will change the data and redraw the diagram.
      setInterval(function() {
        // Pick the number of changes.
        var numToChange = Math.floor(Math.random() * data.length);

        // Create the changes.
        var newRows = [];
        for (var i = 0; i < numToChange; i++) {
          // Pick a row from the original data.
          var row = data[Math.floor(Math.random() * data.length)];

          // Perturb the weight of the row.
          row[2] += Math.random() * 3;

          // Add the row into the set of new rows.
          newRows.push(row);
        }

        // Update the diagram.
        sankey.updateData(newRows);
      }, 1000);
    });
  </script>
</body>
</html>
