<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="../js/websocket_helper.js"></script>
  <script src="../js/sankey.js"></script>
</head>
<body>
  <div id="sankey_basic" style="width: 900px; height: 300px;"></div>
  <p>Sankey Diagram Demo</p>
  <script> 
    var data = [];

    // Draw the Sankey diagram.
    Sankey("sankey_basic", data, {}, function(sankey) {
      var ws = WebsocketHelper("http://localhost:8000/", [function(data) {
        var rows = Object.keys(data).map(function(key) {
          var obj = data[key];
          return [key, "" + obj.dest_port, obj.num_packets];
        });
        sankey.resetData(rows);
      }], [function() {
        console.log('Client has connected to the server!');
        ws.sendMessage({"message": "Hi there"});
      }], [function() {
        console.log('The client has disconnected!');
      }]);
    });
  </script>
</body>
</html>
